{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>Edite</h3><hr>
        <form method="post" action="{{url_for('edit_user',id=datas.ID)}}">
            <div class="form group">
                <label>Data</label>
                <input type="Date" name="data" required class="form-control" value="{{datas.DATA}}">
            </div>
            <div class="form group">
                <label>Descrição</label>
                <input type="text" name="descricao" required class="form-control" value="{{datas.DESCRICAO}}">
            </div>
            <div class="form group">
                <label>Tipo</label>
                <input type="text" name="tipo" required class="form-control" value="{{datas.TIPO}}">
            </div>
            <input type="submit" value="Confirmar" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
